@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bg text-text font-sans antialiased overflow-x-hidden;
}

/* Customização da barra de rolagem (opcional, para ficar estilo "dark tech") */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-bg;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface rounded-full border border-gray-700;
}